<div class="col-xs-12" style="min-height:100vh;">
	<div class="col-xs-10 col-xs-offset-1" style="text-align: center">
		<h5 style="margin-top: 125px" class="about-margin"><i>What is Sellyx?</i></h5>
		<h3>NEXT GENERATION LOCAL MARKETPLACE</h3>
		<div class="title-container"><h2 class="payment-title"><i style="margin: 45px 0; color: rgb(37, 110, 182)" class="fa fa-globe"></i></h2></div>
		<h4 style="line-height: 30px;">Sellyx is the world's first platform that lets people and businesses broadcast and sell products, describe services and market promotions to consumers. Broadcast live demos of your product from your phone to people around you. Interact with buyers and answer questions in real time. And when they are ready to buy, they can buy immediately through Sellyx using our cashless payment system.</h4>
	</div>
</div>

<div class="col-xs-12 show-footer" style="padding: 0;">
    <div id="footer">
        <ul class="footer-nav" style="list-style: none; padding-top: 10px">
            <li><a ui-sref="app.howItWorks">How It Works</a></li>
            <li><a ui-sref="app.about">About Us</a></li>
            <li><a ui-sref="app.contact">Contact</a></li>
            <li><a ui-sref="app.privacy">Privacy Policy</a></li>
            <li><a ui-sref="app.terms">Terms and Conditions</a></li>
        </ul>
        <span class="center" style="position:absolute; bottom: 10px">&copy; 2016 <b>Sellyx, Inc.</b> All Rights Reserved</span>
    </div>
</div>
