<div style="height: 100vh;">
	<div class="col-sm-6 col-xs-12" style="text-align: center; margin-top: 35px;">
		<h1>Contact</h1>
		<div class="title-container"><h2 class="payment-title"><i style="margin: 45px 0; color: rgb(37, 110, 182)" class="fa fa-map-marker"></i></h2></div>
		<h5 style="margin-bottom: 35px">We are located out of beautiful, sunny Southern California. Go ahead, send us a note. We promise we will reply!</h5>
		<h4><span class="">401 Wilshire Blvd</span></h4>
		<h4><span class="">Santa Monica, CA 90401</span></h4>
		<h4 style="margin-bottom: 35px"><span class="">(424) 252-4800</span></h4>
		<h4><span class=""><a href="mailto:contact@sellyx.com">contact@sellyx.com</a></span></h4>
	</div>
	<div class="col-sm-6 col-xs-12" style="margin-top: 35px">
		<div class="col-xs-12" style="margin-top: 20px;padding: 0px">
			<div class="panel panel-default">
			<div class="well listing-header">Location</div>
				<div class="panel-body">
			    	<div id="map" style="width: 100%; height: 400px"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 show-footer" style="padding: 0;">
    <div id="footer">
        <ul class="footer-nav" style="list-style: none; padding-top: 10px">
            <li><a ui-sref="app.howItWorks">How It Works</a></li>
            <li><a ui-sref="app.about">About Us</a></li>
            <li><a ui-sref="app.contact">Contact</a></li>
            <li><a ui-sref="app.privacy">Privacy Policy</a></li>
            <li><a ui-sref="app.terms">Terms and Conditions</a></li>
        </ul>
        <span class="center" style="position:absolute; bottom: 10px">&copy; 2016 <b>Sellyx, Inc.</b> All Rights Reserved</span>
    </div>
</div>
