<div class="modal fade" id="login_modal">
     <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-body form-horizontal" style="text-align: center">
                       <button style="font-size: 40px;" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                       <h3 style="margin-top: 40px">Please log in or register to use this feature.</h3>
                       <div style="margin-top: 50px; margin-bottom: 30px"><a href="https://auth.sellyx.com/login?service=www&redirection={{url}}"><button type="button" class="btn" style="width: 75%; font-size: 20px; padding: 10px; background: white; border-radius: 25px !important; border: 1px solid #2184DA; color: #2184DA">Login</button></a></div>
                       <div style="margin-bottom: 50px"><a href="https://auth.sellyx.com/register?service=www&redirection={{url}}"><button type="button" class="btn" style="width: 75%; font-size: 20px; padding: 10px; background: white; border-radius: 25px !important; border: 1px solid #17B6A4; color:#17B6A4">Register</button></a></div>
                       <div style="margin-bottom: 50px"><h1 style="border-bottom: 3px solid #DDD"></h1></div>
                       <p style="color: rgb(156, 156, 156);">By signing up or using Sellyx services you agree to the Sellyx</p>
                       <p> <a href="/#/terms-conditions" style="color: #2184DA">Terms & Conditions</a> and <a ui-sref="app.privacy" style="color: #2184DA">Privacy Policy</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>